.pink-box{
    width:200px;
    height:200px;
    background-color: #f288f8;
    margin: 100px auto 0 auto;
    animation: lorem 5s linear infinite alternate;
}
@keyframes lorem {
     0%{
    transform:scale(1.5) rotate(60deg) skew(40deg);
 }
    40%{
        border-radius: 20%;
        transform:rotate(-60deg);
    }
    50%{
        transform:skew(0deg);
    }
    100%{
     transform: rotate(0deg);
        background-color: #70aef1;
    }
}