body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animation{
    /*margin: 100px auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

}
.snow{
    animation: preloader 5s infinite linear alternate;

}
.animation img{
    height: 100px;
}
@keyframes preloader  {
    from{
        transform: translateY(0);
    }
    20%{
        transform: translateY(30px);
    }
    40%{
        transform:translateY(50px);
    }
    60%{
        transform:translateY(80px);
    }
    to{
        transform:translateY(100px);
    }
}