body {
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    margin: 0;
}
.container, .signup {
    width: 400px;
    border: 1px solid #bcb4b4;
    background: #fff;
    box-sizing: border-box;
}

.container {
    border: 1px solid #bcb4b4;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
.logo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.logo img {
    width: 200px;
    height: auto;
}
.form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.form form button {
    background-color: #3897f0;
    color: white;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}

.form form input {
    width: 300px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #bcb4b4;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 10px;
}

.or {
    color: #8e8e8e;
    font-weight: bold;
    margin: 15px 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links ul li {
    list-style-type: none;
    font-weight: bold;
    color: #385185;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.links ul li:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/960px-Facebook_logo_%28square%29.png");
    background-size: cover;
}

.links a {
    text-decoration: none;
    color: #385185;
    font-weight: bold;
}

.signup {
    text-align: center;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup p {
    font-size: 16px;
    margin: 0;
}
.signup a {
    text-decoration: none;
    color: #3897f0;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}
